* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.calculator {
    border: solid 1px #000;
    padding: 20px;
    background-color: #2E2E2E;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
}

.btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
}

.clear {
    width: 130px;
}

.enter {
    height: 110px;
}

.zero {
    width: 130px;
}

.result {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;

}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}